<html>
<head>
    <title>Welcome</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vin</th>
            <th>Location(Latitude, Longitude)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sensor : ${sensors}">
            <td th:text="${sensor.vin.vin}"></td>
            <td th:text="${sensor.location.latitude} + ', ' + ${sensor.location.longitude}"></td>
            <td><a th:href="@{/sensors/{id}(id=${sensor.vin.vin})}" class="btn btn-outline-danger">Sensor Details</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="/add-sensor">Add a Sensor</a>
    </div>
</div>
</body>
</html>